**/build
node_modules
package-lock.json
zotero-cmd.json
**/.DS_Store
*.code-workspace
tmp/
image/FUTURE_IMPROVEMENTS/*.png
PERFORMANCE_OPTIMIZATIONS.md
.cursor/rules/*
*IMPOVEMENTS*.md
FUTURE_IMPROVEMENTS.md
