**/build
node_modules
package-lock.json
zotero-cmd.json
**/.DS_Store
*.code-workspace
tmp/
image/FUTURE_IMPROVEMENTS/*.png
PERFORMANCE_OPTIMIZATIONS.md
.cursor/rules/*
*IMPOVEMENTS*.md
FUTURE_IMPROVEMENTS.md
localdocs/FEATURES_REFERENCE_PANEL.md
localdocs/FTR-PDF-ANNOTATE-PLAN.md
localdocs/FTR-FOCUSED-SELECTION-PLAN.md